@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Noto+Serif+Display:ital,wght@1,600&family=Poppins:wght@500&family=Redressed&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit
}

/* .container{
    background-color: #dddddd;
    min-height: 100vh;
} */